<form method="POST">
    <input id="name" name="name">
    <input type="datetime" id="events" name="events">
    <button asp-action="Add" asp-controller="Home" class="btn btn-success">Add Reminder</button>
</form>