<div class="text-center">
<h1>Reminder System</h1>
<p>Be Carefuly to Any Confidential Information</p>
</div>
<br>

<a href="/Home/Data" class="btn btn-primary">Add</a>
<br>
<br>

<table class="table" style="text-align: center;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
@{
var x = ViewBag.reminder;
foreach (var i in x)
{
    <tr>
      <td scope="row">@i.events</td>
      <td>@i.name</td>
      <td>
        <a href="/Home/Edit/@i.id" class="btn btn-primary">Edit</a>
        <a href="/Home/Delete/@i.id" class="btn btn-danger">Delete</a>
      </td>
    </tr>
}
}
  </tbody>
</table>